<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head><title>Signup</title></head>
<body>
<h2>Sign Up</h2>
<form method="post" th:action="@{/signup}" th:object="${signupForm}">
    <div>
        <label>Username:</label>
        <input required th:field="*{username}" type="text">
        <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    </div>
    <div>
        <label>Password:</label>
        <input required th:field="*{password}" type="password">
        <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>
    <div>
        <label>Repeat Password:</label>
        <input required th:field="*{password_repeat}" type="password">
        <div class="error" th:if="${#fields.hasErrors('password_repeat')}" th:errors="*{password_repeat}"></div>
    </div>
    <button type="submit">Sign Up</button>
</form>
<div th:if="${param.register != null && param.register[0] == 'success'}">
    <p>Registration successful! <a th:href="@{/login}">Login here</a></p>
</div>
<p>Already have an account? <a href="/login">Login</a></p>
</body>
</html>